<%= form_with(model: @attendances, url: update_approval_user_attendance_path(@user,@attendances), local: true, method: :patch) do |f| %>
  <% @users.each do |user| %>
    <% attendance = user.attendances.where(user_id: user.id) %>
    <% attendance.each do |at| %>
      <% if @approval_numbers > 0 %>
        <% if at.instructor.to_i == user.id && at.approval.nil? %>
          <p>所属長承認</p>
          <p><%= user.name %>に申請中</p>
    <% break %>
        <% elsif at.approval.present? && at.approval != "申請中" %>
          <p>所属長承認　<% at.approval %></p>
    <% break %>
        <% else %>
          <p>所属長承認　未</p>
    <% break %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <br><%= f.collection_select :instructor ,User.where(superior: true), :id, :name, {include_blank: true},prompt: true, class: "form-control" %>
  <br><%= f.submit "申請",class: "btn btn-primary btn-block btn-attendance" %>
<% end %>