<% @users.each do |user| %>
        <% attendance = Attendance.where(user_id: user.id) %>
          <% attendance.each do |at|%>
            <%if at.supporter.to_i == current_user.id %>
              <p><%= link_to "【残業申請のお知らせ】",notice_overtime_user_attendance_path(user_id: user.id, id: at.id),class: "notice", remote: "true", style: "color:red" %></p>         
              <p><%= link_to "【勤怠変更申請のお知らせ】",notice_edit_one_month_user_attendance_path(user_id: user.id,id: at.id),class: "notice", remote: "true", style: "color:red" %></p>
              <p><%= link_to "【所属長承認申請のお知らせ】",notice_approval_user_attendance_path(user_id: user.id,id: at.id),class: "notice", remote: "true", style: "color:red" %> </p> 
            <% else %>
              <p>【残業申請のお知らせ】</p>
              <p>【所属長承認申請のお知らせ】</p>
              <p>【勤怠変更申請のお知らせ】</p>
              <% end %>
          <% end %>
      <% end %>
     
       