<% provide(:title,"勤怠ログ") %>
<h1>勤怠ログ</h1>

<div class="col-md-10 col-md-offset-1">  
  <table class="table table-condenced table-bordered table-striped" id="work-log-table">
    <thead>
      <button type="button" class="btn btn-default" >
                  リセット
      </button>
      <%= form_with(model: @attendances, url: attendances_work_log_user_path(@user,@attendances), method: :get, local: true) do |f| %>
        <tr>
          
          <td>
            <div class = "input-group" id="year">
            <span class="input-group-button open">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle = "drop-down" aria-expanded = "true">
                年
                <span class="caret"></span>
              </button>
              <ul calss="dropdown-menu" role = "menu">
                <li id = "<%= @first_day.year %>" class="dropdown-list">2020</li>
              </ul>
            </span>
            <div class="col-xs-2 px-0">
              <input type="text" class="form-control"placeholder="2020" readonly="true">
            </div>
            </div>
          </td>
          
        </tr>
        <tr>
          <td>
          <span>月</span>
          <span><%= f.collection_select :worked_on, Attendance.group(:worked_on), :worked_on, :worked_on,{prompt: ""} %></span>
          </td>
        </tr>
      <% end %>
    </thead>
    
    <tbody>
      <tr>
        <td>日付</td>
        <td>変更前出社時間</td>
        <td>変更前退社時間</td>
        <td>変更後出社時間</td>
        <td>変更後退社時間</td>
        <td>指示者</td>
        <td>承認日</td>
      </tr>
      <% @attendances.each do |attendance| %>
      <% if attendance.one_month_approval.present? %> 
      <tr>
        <td><%= l(attendance.worked_on, format: :short) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>