<% provide(:title,"勤怠修正ログ(承認済み)") %>
<h1>勤怠修正ログ(承認済み)</h1>

<div class="col-md-12">
  <table class= "table table-resposible table-condenced table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>承認者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
